{% extends "base.html" %}
{% load static %}

{% block sidenav %}
   {% for item in item_list %}
      <li>
        <a href="{{ item.link }}">  {{ item.item }} </a>
      </li>
   {% endfor %}
{% endblock sidenav %}

{% block content %}
  <div class="table-container">
    <table class="professional-table">
      <thead>
        <tr class="table-title-row">
          <th colspan="6">Display Books</th>
        </tr>
        <tr>
          <th>Book Name</th>
          <th>Book Price</th>
          <th>User Name</th>
          <th>Post Date</th>
          <th>Avg Rating</th>
          {% if user.is_authenticated %}
          <th>
              Action
          </th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <td><a href="book_detail/{{ book.id }}">  {{ book.name }} </a></td>
          <td>{{ book.price }}</td>
          <td>{{ book.username }}</td>
          <td>{{ book.publishdate }}</td>
          <td>{{ book.avg_rating|floatformat:1|default:"No ratings yet" }}</td>
          {% if user.is_authenticated %}
          <td><button  onclick="addToCart('{{ book.id }}', '{{ book.name|escapejs }}', '{{ book.price }}')" style="cursor:pointer;  border: none; background: #4CAF50; color: white; border-radius: 3px;">Add to Cart</button>
          </td>
          {% endif %}
        </tr>
         {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}